.bebidas {
  align-items: center;
  display: flex;
  flex-direction: column;
  /* height: 100vh;
  margin: 0 auto; */
}

.drink-list {
  display: flex;
  flex-wrap: wrap;
  /* margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 20px; */
  margin-bottom: 70px;
}

.card-img-drinks {
  /* height: 100px;
  width: 100px; */
  box-sizing: border-box;
  border-radius: 5px;
  box-shadow: 7px 7px 10px #cbced1, -7px -7px 10px white;
  align-items: center;
  margin: 1em;
  
}

.card-title-drinks {
  /* word-break: break-all; */
  font-size:12px;
  text-align: center;
  color: black;
}
.card-drinks {
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  margin: 0.5em;
  align-items: center;
  justify-content: center;
  width: 160px;
  flex-basis: 160px;
  flex-grow: 1; 
  flex-shrink: 1;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
}

.card-meals img {
  width: 100px;
}

.drink-list-ingredients {
  display: flex;
  flex-wrap: wrap;
  /* margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 20px; */
  height: 500px;
  box-sizing: border-box;
  align-items: stretch;
}

.card-drink-ingredients {
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  margin: 0.5em;
  align-items: center;
  justify-content: center;
  width: 160px;
  flex-basis: 160px;
  flex-grow: 1; 
  flex-shrink: 1;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
}

.card-ingredients-img {
  box-sizing: border-box;
  border-radius: 5px;
  box-shadow: 7px 7px 10px #cbced1, -7px -7px 10px white;
  align-items: center;
  margin: 1em;
}

.card-title-ingredients {
  /* word-break: break-all; */
  font-size:12px;
  text-align: center;
  color: black;
}