
*  {
  margin:0;
  padding:0;
}

.footer {
  background-color: orange;
  bottom: 0;
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
  position: fixed;
  text-align: center;
  width: 100vw;
  border-radius:10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0;
  -webkit-border-radius: 10px 10px 0 0;
}

.start-recipe-btn {
  bottom: 0;
  font-size: 10px;
  left: 50%;
  border-radius: 5px;
  margin-top: 40px;
  background: black;
  height: 30px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
  font-size:14px;
  box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px white;
  transition: 0.5s;
  border: none;
  outline:none;
  width:130px;
  color: white;
  margin: 0.5em 0.5em 0.5em;
}

.finish-recipe-btn {
  bottom: 0;
  left: 50%;
  border-radius: 5px;
  margin-top: 40px;
  background: green;
  height: 30px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
  font-size:14px;
  box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px white;
  transition: 0.5s;
  border: none;
  outline:none;
  width:130px;
  color: white;
  margin: 0.5em 0.5em 0.5em;
}

.recipe-btn {
  display: flex;
  margin-bottom: 10px;
  margin-left: 1px;
  align-items: center;
}

.recipe-btn a {
  margin-left: 10px;
}

.img-fluid {
  display: flex;
  box-sizing: border-box;
  border-radius: 5px;
  box-shadow: 8px 7px 10px #a7a9ac, -7px -7px 10px white;
  align-items: center;
  margin-top: 25px;
  width: 190px;
}

.carousel-container {
  display: flex;
  position: relative;
  margin-bottom: 80px;
}

.recomendation-card {
  max-width: 160px;
  display: none;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
}

.recomendation-card:nth-of-type( 1 ), .recomendation-card:nth-of-type( 2 ) {
  display: block;
}

.recomendation-card img {
  max-width: 100%;
}

.prev, .next {
  border-radius: 0 3px 3px 0;
  color: black;
  cursor: pointer;
  font-size: 18px;
  margin-top: 10px;
  padding: 5px;
  position: absolute;
  top: 25%;
  transition: 0.2s ease;
  user-select: none;
  width: auto;
  opacity: 0.7;
  font-size: 30px;
}

.txt-carousel {
  position: absolute;
  margin-top: 120px;
  margin-left: 15px;
  width: 130px;
  text-align: center;
  background: grey;
  align-items: center;
  border-radius: 5px;
  opacity: 0.7;
}

.txt-carousel h4 {
  color: white;
  opacity: 0.8;
  font-size: 15px;
  padding-top: 8px;
  padding-bottom: 0px;
}

.next {
  border-radius: 3px 0 0 3px;
  right: 0;
  font-size: 30px;
}

.align-items-center {
  background-color: orange;
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
  width: 100vw;
  border-radius:0 0 10px 10px;
  -moz-border-radius: 0 0 10px 10px;
  -webkit-border-radius: 0 0 10px 10px;
}

.head-without {
background-color: orange;
margin: auto;
align-items: center;
padding: 0.1px;
border-radius:0 0 10px 10px;
-moz-border-radius: 0 0 10px 10px;
-webkit-border-radius: 0 0 10px 10px;
}

.input-search {
  background: #ecf0f3;
  padding: 10px;
  padding-left: 20px;
  height: 40px;
  font-size: 14px;
  border-radius: 50px;
  box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
  width: 250px;
  align-items: center;
}

.radio-btns {
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 margin-left:20px;
}

.inputs-btns {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
}

.btn-warning {
  background: rgba(204, 93, 18, 0.474);
  height: 40px;
  cursor: pointer;
  font-weight: 900;
  box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px white;
  transition: 0.5s;
  border: none;
  outline:none;
  width:110px;
  color: rgba(128, 0, 0, 0.85);
}

.btn-search {
  /* box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px white; */
  width: 40px;
  height: 35px;
  background-color: orange;
}

.heart-btn {
  background-color: orange;
}

.img-search {
  margin-left: 50px;
  margin-right: 220px
}

.col-2 {
  margin-right: 60px;
  margin-left: 200px;
}

.header-explorer {
  text-align: center; 
  margin-top: 22px;
}

.profile-img {
margin-left: 50px;
margin-top: 10px;
padding-bottom: 10px;
}

.explorer-section {
  display: flex;
  justify-content: center;
}

.btns-explorer-food {
  margin-top: 40px;
  background: rgba(255, 188, 88, 0.8);
  height: 40px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 900;
  font-size:11px;
  box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px white;
  transition: 0.5s;
  border: none;
  outline:none;
  width:130px;
  color: rgba(128, 0, 0, 0.85);
  margin: 1em;
}

.explorer-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.header-explorer-food {
  margin-top: 30px;
  text-align: center; 
}

.header-explorer-drink {
  margin-top: 30px;
  text-align: center;
}

.btns-explorer-drink {
  margin-top: 40px;
  background: rgba(99, 108, 160, 0.8);
  height: 40px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 900;
  font-size:12px;
  box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px white;
  transition: 0.5s;
  border: none;
  outline:none;
  width:130px;
  color: white;
  margin: 0.5em 0.5em 0.5em;
}

.fav-recipes {
  display: flex;
}

.done-recipes {
  align-items: center;
  text-align: center;
}

.load-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 150px;
}

