.container {
  position: relative;
  width: 350px;
  height: 500px;
  border-radius: 20px;
  padding: 40px;
  box-sizing: border-box;
  background: #ecf0f3;
  box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px white;
  margin: auto;
  margin-top: 100px;
}

.brand-logo {
  height: 120px;
  width: 120px;
  margin: auto;
  box-sizing: border-box;
  /* box-shadow: 7px 7px 10px #cbced1, -7px -7px 10px white; */
}

.logo {
  box-sizing: border-box;
  align-items: center;
}

.input-login1 {
  background: #ecf0f3;
  padding: 10px;
  padding-left: 20px;
  height: 40px;
  font-size: 14px;
  border-radius: 50px;
  box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
  width: 250px;
  margin: auto;
  margin-top: 40px;
}

.input-login2 {
  background: #ecf0f3;
  padding: 10px;
  padding-left: 20px;
  height: 40px;
  font-size: 14px;
  border-radius: 50px;
  box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
  width: 250px;
  margin: auto;
  margin-top: 30px;
}

.btn-login {
  margin-top: 40px;
  background: rgba(255, 188, 88, 0.8);
  height: 40px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 900;
  box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px white;
  transition: 0.5s;
  border: none;
  outline:none;
  width:170px;
  color: rgba(128, 0, 0, 0.85);
}

.link {
  font-size: 12px;
  margin-left: 55px;
  margin-top: 15PX;
}

.form-login {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#radio-search {
  /* font-size: 18px;
  height: 40px; */
  margin: 1em;
  /* padding-left: 20px;
  width: 300px; */
  align-items: center;
}

/* button {
  background-color: rgba(255, 188, 88, 0.8);
  border-radius: 5px;
  color: rgba(128, 0, 0, 0.85);
  font-weight: 900;
  height: 40px;
  width: 120px;
} */

/* button img {
  height: 90%;
} */

button:hover {
  background-color: rgba(255, 188, 88, 0.85);
  color: maroon;
}

button:disabled {
  background-color: rgba(255, 188, 88, 0.5);
  color: rgba(44, 18, 56, 0.4);
}
